<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Right Way</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkatra&family=Carter+One&family=Delicious+Handrawn&family=DynaPuff&family=EB+Garamond&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/cursos.css">
    <link rel="icon" type="text/css" href="img/Logo.png">
</head>
<body>
    <header>
        <div class="header">
            <figure><img src="img/LogoRightWay.png" alt="Logo"></figure>
        </div>
        <div class="text">
            <h1>AS MELHORES DICAS PARA<br>O SEU FUTURO</h1>
        </div>
        <div class="bandeiras">        
            <a href="/curso"><img src="img/br.png"></a>
        </div>
    </header>
    <nav>
        <a href="/">Página Inicial</a>
        <a href="/vestibulares">Vestibulares</a>
        <a href="/curso">Cursos</a>
        <a href="/depoimentos">Depoimentos</a>
        <a href="/contato">Contato</a>
        <a href="/usuarios/login" class="login">Login</a>
    </nav>
    <!--------------------------------------------------------------->

    <div class="wrapper">
    <main>
        <section> 
            <h1>Cursos</h1>
            <div id="divBusca">
            <figure>
                <img src="img/search3.png" alt="Buscar..." style="width: 31px;"/>
            </figure>
            <span>
                <input type="text" id="search-bar" placeholder="Digite aqui para pesquisar" style="height: 30px;">
                <ul id="suggestions"></ul>
            </span>
            <script src="js/busca.js"></script>
              </div>
         </section>
            <div class="melh">
                <video width="85%" autoplay muted loop>
                    <source src="video/video.mp4" type="video/mp4">
                  </video> 
            </div>

         <div class="cursos">
            <figure>
                <img src="img/direito.png" alt="Balança simbolo de direito">
                <h2 id="direito"><p id="p2">Direito</p>
                <p>O Direito é a disciplina acadêmica que estuda o conjunto de leis e regulamentos que regem a sociedade. Ao longo da faculdade, os estudantes aprendem como interpretar, cumprir e aplicar as leis, bem como as responsabilidades das entidades públicas.</p></h2>
            </figure>
         </div>
         <div class="cursos">
            <figure>
                <img src="img/engenharia.png" alt="Simbolo Engenharia civil">
                <h2 id="engenharia"><p id="p2">Engenharia Civil</p>
                <p>A engenharia civil é uma área que aplica conhecimentos matemáticos, científicos e tecnológicos para projetar, construir e manter infraestruturas como edifícios, pontes, estradas, túneis, sistemas de água e esgoto, entre outros.</p></h2>
            </figure>
         </div>
         <div class="cursos">
            <figure>
                <img src="img/designGrafico.png" alt="Design Gráfico" style="width: 137px; margin-left: 0px;">
                <h2 id="design"><p id="p2">Design Gráfico</p>
                <p>O designer gráfico é responsável por atuar com comunicação visual. Esse profissional é capacitado para desenvolver identidades visuais, peças e materiais gráficos e logomarcas. Além disso, é habilitado para criar materiais visuais online e offline como: outdoors, panfletos, flyers, folders, etc.</p></h2>
            </figure>
         </div>
         <div class="cursos">
            <figure>
                <img src="img/educaFisica.png" alt="Educação Fisica">
                <h2 id="educacao"><p id="p2">Educação Física</p>
                <p>A Educação Física é a ciência que estuda os movimentos corporais, a prática de atividades físicas e a formação de hábitos saudáveis de vida. Seu objetivo é promover o desenvolvimento físico, mental e social dos indivíduos, contribuindo para o aumento de sua qualidade de vida.</p></h2>
            </figure>
         </div>
         <div class="cursos">
            <figure>
                <img src="img/pedagogiq.png" alt="Pedagogia">
                <h2 id="pedagogia"><p id="p2">Pedagogia</p>
                <p>A Pedagogia é a ciência que estuda a educação, seus processos, métodos e técnicas para a formação de indivíduos. Estuda a relação entre professor e aluno, bem como a interação entre os membros da comunidade educacional, além da conexão entre ensino e aprendizagem.</p></h2>
            </figure>
         </div>
         <div class="cursos">
            <figure>
                <img src="img/TI.png" alt="Simbolo de T.I">
                <h2 id="ti"><p id="p2">TI- Tecnologia da Informação</p>
                <p>A Tecnologia da Informação (TI) é o estudo da aplicação de computadores e telecomunicações para armazenar, recuperar, transmitir e manipular dados. A área envolve sistemas de computador, software, hardware, redes e telecomunicações, bem como seus processos, políticas e sistemas de segurança relacionados.</p></h2>
            </figure>
         </div>
         <div class="cursos">
            <figure>
                <img src="img/adm.png" alt="Simbolo da Administração">
                <h2 id="adm"><p id="p2">Administração</p>
                <p>O curso de Administração tem a função de ensinar nossos alunos a gerenciar recursos financeiros, materiais ou humanos de uma empresa. O futuro administrador tem vaga em praticamente todos os departamentos de uma organização pública, privada ou sem fins lucrativos...</p></h2>
            </figure>
         </div>
         <div class="cursos">
            <figure>
                <img src="img/artesVisuais.png" alt="Artes Visuais" style="width: 133px; margin-left: 0px">
                <h2 id="artes"><p id="p2">Artes Visuais</p>
                <p>As Artes Visuais são todos os tipos de expressão artística que usam qualquer tipo de material visual para criar uma obra, o que inclui pintura, escultura, desenho, gravura, fotografia, vídeo, escultura e outras formas de arte contemporânea.</p></h2>
            </figure>
         </div>

         <div class="cursos">
            <figure>
                <img src="img/enge.png" alt="Engenharia de Software" style="width: 133px; margin-left: 0px">
                <h2 id="Engenharia de Software"><p id="p2">Engenharia de Software</p>
                <p>A função da faculdade de Engenharia de Software é fornecer aos estudantes os conhecimentos teóricos e práticos necessários para se tornarem profissionais capacitados e competentes na área de desenvolvimento de software. Através de um currículo abrangente, a faculdade tem como objetivo formar engenheiros de software capazes de projetar, desenvolver, testar e manter sistemas de software de alta qualidade.</p></h2>
            </figure>
         </div>

         <div class="cursos">
            <figure>
                <img src="img/gastronomia.png" alt="Gastronomia" style="width: 133px; margin-left: 0px">
                <h2 id="Gastronomia"><p id="p2">Gastronomia</p>
                <p>A faculdade de Gastronomia oferece uma formação acadêmica especializada no campo da culinária e gastronomia. Os estudantes aprendem técnicas culinárias, habilidades de gestão na indústria de alimentos e bebidas, além de explorar a cultura e história da gastronomia. A faculdade prepara os graduados para carreiras como chefs, empresários na área de alimentos e bebidas, consultores gastronômicos e empreendedores no setor de hospitalidade.</p></h2>
            </figure>
         </div>

         <div class="cursos">
            <figure>
                <img src="img/CienciasContabeis.png" alt="Ciencias Contabeis">
                <h2 id="CienciasContabeis"><p id="p2">Ciências Contábeis</p>
                <p>A faculdade de Ciências Contábeis oferece uma formação acadêmica voltada para o estudo e aplicação de princípios contábeis e financeiros. Os estudantes aprendem sobre contabilidade, auditoria, análise financeira, legislação tributária e gestão empresarial. A faculdade prepara os graduados para carreiras como contadores, auditores, analistas financeiros, consultores tributários e gestores financeiros em empresas públicas, privadas e governamentais.</p></h2>
            </figure>
         </div>

         <div class="cursos">
            <figure>
                <img src="img/enfermagem.png" alt="Enfermagem" style="width: 133px; margin-left: 0px">
                <h2 id="Enfermagem"><p id="p2">Enfermagem</p>
                <p> Enfermagem oferece uma formação acadêmica especializada no cuidado e promoção da saúde. Os estudantes aprendem sobre anatomia, fisiologia, farmacologia, ética profissional e práticas de enfermagem. A faculdade prepara os graduados para carreiras como enfermeiros(as), possibilitando o cuidado direto aos pacientes, atuação em hospitais, clínicas, centros de saúde e outros ambientes de cuidados de saúde, além de oportunidades de especialização e pesquisa.</p></h2>
            </figure>
         </div>

         <div class="cursos">
            <figure>
                <img src="img/Arquitetura e Urbanismo.png" alt="Arquitetura e Urbanismo" style="width: 133px; margin-left: 0px">
                <h2 id="Arquitetura e Urbanismo"><p id="p2">Arquitetura e Urbanismo</p>
                <p>Arquitetura e Urbanismo oferece uma formação acadêmica voltada para o estudo e prática do design arquitetônico e planejamento urbano. Os estudantes aprendem sobre história da arquitetura, desenho técnico, teoria do design, construção sustentável e estética urbana. A faculdade prepara os graduados para carreiras como arquitetos(as), urbanistas, projetistas, consultores e gestores de projetos arquitetônicos e urbanos.</p></h2>
            </figure>
         </div>

         <div class="cursos">
            <figure>
                <img src="img/EngeProducao.png" alt="engenharia de produção" style="width: 133px; margin-left: 0px">
                <h2 id="engenharia de produção"><p id="p2">Engenharia de Produção</p>
                <p>A Engenharia de Produção é uma área multidisciplinar que combina conhecimentos de engenharia e gestão para otimizar processos produtivos em diversos setores industriais. Os engenheiros de produção são responsáveis por identificar e implementar melhorias nos sistemas produtivos, buscando aumentar a eficiência, reduzir custos e garantir a qualidade dos produtos. Com uma formação sólida em matemática, física, estatística e gestão, esses profissionais estão preparados para atuar em diversas áreas, como logística, planejamento de produção, qualidade e controle de estoques.</p></h2>
            </figure>
         </div>

    </main>
</div>




<footer>
    <a href="https://linktr.ee/rightwayofc?utm_source=linktree_profile_share&ltsid=4b87dd6e-fec8-4af6-80dd-d3064c0760a7"target="_blank">Linktree</a>
    <p class="copy">&copy;Right Way | 2023</p>
</footer>
</body>
</html>