<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Right Way</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alkatra&family=Carter+One&family=Delicious+Handrawn&family=DynaPuff&family=EB+Garamond&family=Pacifico&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/inicio.css">
    <link rel="icon" type="text/css" href="img/Logo.png">
</head>

<body>
    <header>
        <div class="header">
            <figure><img src="img/LogoRightWay.png" alt="Logo"></figure>
        </div>
        <div class="text">
            <h1>AS MELHORES DICAS PARA<br>O SEU FUTURO</h1>
        </div>
        <div class="bandeiras">
            <a href="/"><img src="img/br.png"></a>
        </div>
    </header>
    <nav>
        <a href="/">Página Inicial</a>
        <a href="/vestibulares">Vestibulares</a>
        <a href="/curso">Cursos</a>
        <a href="/depoimentos">Depoimentos</a>
        <a href="/contato">Contato</a>

        <% if (typeof usuario==="undefined" ) { %>
            <a href="/usuarios/login" class="login">Login</a>
            <% } else { %>
                <span class="nomeusuario">Seja bem-vindo <%= usuario.nome %></span>
                <% } %>


    </nav>
    <main>
        <div class="wrapper">
            <div class="texto-ini">
                <h1 class="titulo1">Sejam Bem-Vindos!</h1>
            </div>
            <div class="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <img src="img/foto1.png" alt="Image 1">
                    </div>
                    <div class="carousel-item">
                        <a href="/vestibulares"><img src="img/foto3.png" alt="Image 2"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="/enem"><img src="img/foto2.png" alt="Image 3"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="/curso"><img src="img/foto4.png" alt="Image 4"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="/depoimentos"><img src="img/foto5.png" alt="Image 5"></a>
                    </div>
                </div>
            </div>
            <div class="carousel-controls">
                <button class="prev-button">Anterior</button>
                <button class="next-button">Próximo</button>
            </div>
            <hr>
            <div class="cont1">
                <figure><img class="logo" src="img/LogoRightWay.png" alt="Logo"></figure>
                <div class="conteudo">
                    <h2 class="titulo2">Quem somos?</h2>
                    <p>Somos uma equipe dedicada a fornecer informações precisas e atualizadas, além disso, oferecemos
                        dicas e orientações úteis sobre como se preparar para o vestibular, como escolher o curso certo,
                        como se destacar na faculdade e como construir uma carreira de sucesso após a formatura.
                        Acreditamos que o conhecimento é a chave para o sucesso acadêmico e profissional, e estamos
                        empenhados em fornecer recursos de alta qualidade para ajudar os estudantes a alcançar seus
                        objetivos. Nosso site é atualizado regularmente com novas informações e recursos, e estamos
                        sempre abertos a feedbacks e sugestões de nossos usuários. Acreditamos que a colaboração e o
                        compartilhamento de ideias são fundamentais para promover um ambiente educacional saudável e
                        próspero. Se você estiver procurando por orientações confiáveis e informações precisas sobre
                        cursos e vestibulares, você veio ao lugar certo. Obrigado por nos visitar!</p>
                </div>
            </div>
            <div class="cont2">
                <div class="conteudo">
                    <h2 class="titulo2">Nosso Objetivo</h2>
                    <p>O nosso objetivo principal é ajudar os estudantes a tomar decisões informadas sobre suas
                        carreiras e alcançar o sucesso acadêmico e profissional. Acreditamos que todos os estudantes
                        merecem acesso a informações claras e precisas sobre suas opções educacionais, independentemente
                        de seu contexto socioeconômico ou cultural. Nosso objetivo é promover a igualdade de
                        oportunidades na educação, fornecendo recursos e orientações valiosas para ajudar os estudantes
                        a navegar com sucesso pelo processo educacional. Além disso, buscamos incentivar a inovação e o
                        pensamento crítico por meio de nossas dicas e orientações sobre como escolher o curso certo, se
                        preparar para o vestibular, se destacar na faculdade e construir uma carreira de sucesso após a
                        formatura. Acreditamos que, ao fornecer essas informações, podemos ajudar os estudantes a
                        desenvolver as habilidades necessárias para enfrentar os desafios e oportunidades que surgem em
                        suas carreiras.</p>
                </div>
            </div>
            <br>
            <hr>
            <h1 class="titulo1">Destaques</h1>
            <section class="destaque">
                <div class="container">
                    <h2>Siga-nos no Instagram!</h2>
                    <p>Fique atento a postagens diariamente.</p><br>

                    <a href="https://www.instagram.com/rightwayofc/" target="_blank"><button
                            class="destaque">Acesse</button></a>
                </div>
                <div class="imagem">
                    <img src="img/instagram.png" alt="logoInstagram">
                </div>
            </section>
            <br>
            <section class="destaque">
                <div class="imagem">
                    <img src="img/LogoRightWay.png" alt="Produto">
                </div>
                <div class="container">
                    <h2>Ainda não é cadasatrado?</h2>
                    <p>Cadastre-se agora mesmo</p><br>

                    <a href="/usuarios/cadastro"><button
                            class="destaque">Acesse</button></a>
                </div>

            </section>
            <br>
            <hr>
            
            <div class="cont2">
                <!--<figure class="fotos"><img class="foto1" src="img/foto-aleatoria.jpg" alt="Foto"></figure>-->
                <div class="conteudo3">
                    <h2 class="titulo2">Apresentação das páginas</h2>
                    <p>
                        <b>1- Página de Vestibulares:</b><br>
                        Nesta página, você encontrará dicas valiosas sobre cursos pré-vestibulares, disponibilizamos
                        uma lista de sites confiáveis que oferecem cursos pré-vestibulares online, permitindo que você
                        amplie seus conhecimentos e se prepare adequadamente.
                    </p>
                    <br>
                    <p>
                        <b>2- Página de Informações sobre os Cursos:</b><br>
                        Nessa página, você encontrará um campo de pesquisa no qual pode pesquisar por nome de curso.
                        Através dessa pesquisa, você terá acesso a uma variedade de cursos disponíveis, juntamente com
                        uma breve descrição de cada um deles.
                    </p>
                    <br>
                    <p>
                        <b>3- Página de Depoimentos:</b><br>
                        Na página de Depoimentos, você terá acesso a uma área dedicada à pesquisa e visualização de
                        depoimentos de outros usuários. Aqui, você poderá ler as experiências e opiniões de alunos que
                        já participaram de cursos ou instituições de ensino específicas. Além disso, também oferecemos a
                        opção de envio de depoimentos, para que você possa compartilhar suas próprias experiências e
                        fornecer feedback valioso para outros usuários.
                    </p>
                    <br>
                    <p>
                        <b>4- Página de Contato:</b><br>
                        A página de Contato é projetada para facilitar a comunicação entre os usuários e a equipe de
                        desenvolvimento do site. Você encontrará um formulário de contato no qual poderá enviar suas
                        dúvidas, sugestões ou quaisquer outras questões relacionadas ao site. Também incluímos links para as redes sociais do site, 
                        onde você pode interagir  diretamente com os desenvolvedores e ficar por dentro das últimas atualizações e novidades.
                    </p>
                    <br>
                    <p>
                        <b>5- Página de Login/Cadastro:</b><br>
                        A página de Login/Cadastro oferece dois formulários distintos. Para os usuários já cadastrados,
                        há um formulário de Login no qual você pode inserir seu e-mail e senha para acessar sua conta.
                        Para novos usuários, fornecemos um formulário simplificado de cadastro, onde você pode preencher
                        seu nome de usuário, e-mail e senha para criar uma nova conta no site. Essa página é essencial
                        para garantir uma experiência personalizada e segura aos usuários, permitindo o acesso a
                        recursos exclusivos e a interação com outras funcionalidades do site.
                    </p>

                </div>
            </div>
        </div>
    </main>
    <script src="js/carrossel.js"></script>
    <footer>
        <a href="https://linktr.ee/rightwayofc?utm_source=linktree_profile_share&ltsid=4b87dd6e-fec8-4af6-80dd-d3064c0760a7"
            target="_blank">Linktree</a>
        <p class="copy">&copy;Right Way | 2023</p>
    </footer>
</body>

</html>