<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Right Way</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alkatra&family=Carter+One&family=Delicious+Handrawn&family=DynaPuff&family=EB+Garamond&family=Pacifico&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/contato.css">
    <link rel="icon" type="text/css" href="img/Logo.png">
</head>

<body>
    <header>
        <div class="header">
            <figure><img src="img/LogoRightWay.png" alt="Logo"></figure>
        </div>
        <div class="text">
            <h1>AS MELHORES DICAS PARA<br>O SEU FUTURO</h1>
        </div>
        <div class="bandeiras">
            <a href="/contato"><img src="img/br.png"></a>

        </div>
    </header>
    <nav>
        <a href="/">Página Inicial</a>
        <a href="/vestibulares">Vestibulares</a>
        <a href="/curso">Cursos</a>
        <a href="/depoimentos">Depoimentos</a>
        <a href="/contato">Contato</a>
        <a href="/usuarios/login" class="login">Login</a>
    </nav>
    <div class="wrapper">
        <main>
            <div class="row input-container">

                <div class="box-formulario">

                    <div>
                        <img class="contato" src="img/contato.png.png" alt="imagem de um celular com logo">
                    </div>

                    <div class="formulario">


                        <div class="title-form">
                            <h1>Fale Conosco</h1>
                        </div>

                        <div>
                            <a href="https://www.instagram.com/rightwayofc/" target="_blank">
                                <img class="redes-sociais" src="img/instagram.png" alt="Ícone do Instagram" height="50"
                                    width="50"> </a>

                            <a href="https://www.google.com/maps/place/Caraguatatuba,+SP/@-23.638597,-45.5038242,11z/data=!3m1!4b1!4m6!3m5!1s0x94cd639daab97a29:0x965051c5272e303e!8m2!3d-23.6200504!4d-45.4120869!16zL20vMDN5ODAz"
                                target="_blank">
                                <img class="redes-sociais" src="img/localizacao.png" alt="Ícone da localizacao"
                                    height="50" width="50"> </a>

                        </div>

                        <!--<% if (locals.mensagem) { %> 
                            <p class="mensagemForm"> <%= mensagem %></p> 
        
                            <%} %>-->

                        <form action="/contato" method="post">

                            <span>
                                <input type="text" class="input-balao-up" id="nome" name="nome" placeholder="Nome"
                                    autocomplete="off" required="" />
                                <label for="nome"> <i class="icon icon-user-outline"></i> </label>
                            </span>
                            <span>
                                <input type="text" class="input-balao-up" id="email" name="email" placeholder="E-mail"
                                    autocomplete="off" required="" />
                                <label for="email"> <i class="icon icon-mail-3"></i> </label>
                            </span>
                            <span>
                                <input type="text" class="input-balao-up" id="assunto" name="assunto"
                                    placeholder="Assunto" autocomplete="off" required="" />
                                <label for="assunto"> <i class="icon icon-info"></i> </label>
                            </span>
                            <span>
                                <textarea type="text" class="textarea-balao-up" id="mensagem" name="mensagem" rows="3"
                                    placeholder="Mensagem" autocomplete="off" required=""></textarea>
                                <label for="mensagem"> <i class="icon icon-bubble-4"></i> </label>
                            </span>
                            <div class="box-btn">

                                <button type="submit" class="btn-envia zoom-shadow">
                                    <i class="icon icon-forward-1"> Enviar</i>
                                </button>
                            </div>
                        </form>

                      
                    </div>
                   
                </div><!--Box Formulario-->
              
            </div>
        </main>

    </div>

    <footer>
        <a href="https://linktr.ee/rightwayofc?utm_source=linktree_profile_share&ltsid=4b87dd6e-fec8-4af6-80dd-d3064c0760a7"
            target="_blank">Linktree</a>
        <p class="copy">&copy;Right Way | 2023</p>
    </footer>

</body>

</html>